.cms-title{
  color: #11a4d8;
  font-family:'Averta-Bold';
  font-size: 28px;
  @media(max-width: 560px){
    font-size: 22px;
  }
}
.cms-desc{
  font-family:'Averta-Semibold';
}
.cms-bg-gray{
  background-color: #f6f6f6;
}
.cms-bg-img{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  img{
    height: inherit;
    object-fit: contain;
  }
}
.cms-card1{
  padding: 10px;
  border: 1px solid #11a4d8;
  border-radius: 10px;
  &:hover{
    background-color: #effcff !important;
  }
  hr{
    border-top-color: #ababab;
  }
  .uk-card-title{
    font-size: 17px;
    margin: 0;
    font-family:'Averta-Semibold';
  }
}
.cms-service-img{
  width: 85px;
}
.cms-service-title{
  font-family:'Averta-Semibold';
}
.cms-nhansu-card{
  padding: 20px;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
  .uk-active &{
    -webkit-filter: grayscale(0%);
  }
  .uk-grid-divider{
    &.uk-grid-stack{
      .uk-grid-margin{
        margin-top: 0;
        &:before{
          border: none;
        }
      }
    }
    >*{
      &:not(.uk-first-column){
        &:before{
          border-left-width: 2px;
          border-left-color: #e1e1e1 !important;
        }
      }
    }
  }
}
.cms-avatar{
  width: 180px;
  @media (max-width: 560px) {
    width: 100px;
  }
}
.cms-nhansu-small{
  font-size: 12px;
}
.cms-name-author{
  font-family:'Averta-ExtraBold';
  color: #404040 !important;
  margin: 0;
  font-size: 16px;
}
.cms-nav-dot{
  li{
    &.uk-active{
      a{
        background-color: #83cde7 !important;
      }
    }
    a{
      border-color: #83cde7 !important;
      cursor: pointer !important;
    }
  }
}